@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<form asp-action="Create">

    <partial name="PartialViews/CreateEditPartialView"></partial>

    <input type="submit" value="Submit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To Departments</a>
</form>


@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial"></partial>

    @*
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    *@
}