@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-black-50">Create New Employee</h1>

<form asp-action="Create" enctype="multipart/form-data">
    <partial name="PartialViews/CreateEditPartialView"></partial>

    <input type="submit" value="Submit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To Employees</a>
</form>


@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial"></partial>


@*    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
*@
}