@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-black-50 p-2 rounded alert-danger ">Are you sure to delete this employee</h1>

<form asp-action="Delete">
    <input hidden asp-for="Id" />
    <input hidden asp-for="ImageName" />
    <partial name="PartialViews/DetailsDeletePartialView"></partial>


    <input class="btn btn-danger" type="submit" value="Delete" /> |
    <a asp-action="Index" class="btn btn-warning">Cancel</a>
</form>