@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-black-50">Update The Employee</h1>

<form asp-action="Edit">
    <input hidden asp-for="Id" />
        <partial name="PartialViews/CreateEditPartialView"></partial>


    <input type="submit" value="Save" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To Employees</a>
</form>



@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial"></partial>


@*    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
*@
}