@model IdentityRole
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-black-50">Details Role</h1>

<partial name="PartialView/DetailsDeletePartialView" />

       
        <a asp-action="Index" class="btn btn-light">Back To List</a>
